{% extends 'base.html.twig' %}

{% block title %}Data from Day1 elves{% endblock %}

{% block body %}
    <h1>Data :</h1>

    The biggest value from all the elves is : {{ max_value }}.
{% endblock %}